/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/

##############################
## NetBeans
##############################
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
/HoraDoSistema/nbproject/private/
/IdiomaDoSistema/nbproject/private/
/ResolucaoDaTela/nbproject/private/
/HelloWorldSwing/nbproject/private/
/HelloWorldJavaFX/nbproject/private/
/RelogioSwing/nbproject/private/
/IdiomaDoSistemaSwing/nbproject/private/
/IdiomaSwing/nbproject/private/
/ResolucaoSwing/nbproject/private/
/TiposPrimitivos/nbproject/private/
/ConverterTiposParaString/nbproject/private/
/ConverterDeStringParaOutroTipo/nbproject/private/
/SomaComSwing/nbproject/private/
/calculadoraIdade/nbproject/private/
/OperadoresAritmeticos/nbproject/private/